.row-image {
    margin-top: 4rem;
    /* padding-right: 5rem; */
}

.testbtn {
    background: #007A33;
    color: #fff;
    position: absolute;
    top: 9%;
}

.testbtn2 {
    color: #fff;
    background: #DF1995;
    margin-left: 50px;
}

.section-page {
    background: #fff;
}

.col h2 {
    color: #007A33;
}

.col b {
    color: #007A33;
}

.create {
    width: 50px;
    position: relative;
    left: 5%;
    top: 5%;
    z-index: 2;
}

.lign {
    color: #007A33;
    width: 10px;
    height: 5px;
}

.card-group {
    border: none;
}

.card-img-top {
    width: 100px;
    margin-left: 6.25rem;
    /* margin-top: 20px; */
}

h2.section-heading {
    font-weight: 700;
    font-size: 18px;
}

.card-title {
    color: #007A33;
}

.card-text {
    line-height: 1.2rem;
}